<aside class="side-panel-wrapper search-side-panel">
  <% if user_signed_in? %>

    <%= render layout: 'left_filter',
        locals: { filter_name: 'Favourites', filter_type: 'favourites', icon_class: 'glyphicon glyphicon-star' } do %>
      <% current_user.favourite_products.last(10).each do |product| %>
        <div class="filter-wrapper">
          <%= link_to product_user_favourite_products_path(product), method: :delete, class: 'remove-from-favorites' do %>
              <span class="glyphicon glyphicon-trash"></span>
          <% end %>
            <span class="filter-name">
              <%= link_to product.name, product %>
            </span>
        </div>
      <% end  %>
    <% end %>

    <%= render layout: 'left_filter',
        locals: { filter_name: 'History Search', filter_type: 'history-search', icon_class: 'glyphicon glyphicon-search' } do %>
      <% current_user.searches.recent.each do |search| %>
      <div class="filter-wrapper">
        <%= search_link [ param_change( :update, :delete_search, search.id) ] do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end  %>
          <span class="filter-name">
            <%= search_link search.text, [ param_change( :update, :search, search.text) ] %>
          </span>
      </div>
      <% end %>
    <% end %>
  <% end %>
</aside>
