<div id="home-search-page">
  <div class="visible-lg">
    <div class="video-background w-100 p-absolute" id="header_video">
    </div>
  </div>
  <div class="subcategory-margin"></div>
  <div class="main-tabs-wrapper w-100">

    <div class="flex tabs-list m-auto">
      
      <span class="dropdown dropdown-on-hover tabs-item">
        <%= link_to t('.learn'), guides_path(category_id: @categories.default_for_surf), { class: "btn btn-link tabs-link" } %>
      </span>

      <span class="item-separator"><%= image_tag('l-arrow.png') %></span>

      <span class="dropdown dropdown-on-hover tabs-item">
        <%= link_to t('.compare'), sub_category_path(id: 10), { class: "btn btn-link tabs-link" } %>
      </span>
      <span class="item-separator"><%= image_tag('r-arrow.png') %></span>      

      <span class="social-feed-button-wrapper">
        <%= link_to t('.share'), search_index_path, {id: 'social-feed-button', class: "btn btn-link tabs-link active" } %>
      </span>
      
    </div>
  </div>

    <div class="flex main-filters-wrapper">
      <div class="container-filters m-auto">
        <% @categories.each do |category| %>
            <%= render partial: 'search/category_filter', locals: {category: category} %>
        <% end %>
      </div>
    </div>

    <% if @filters.length > 0 %>
      <div class="show-filters">
        <a href="#" class="show-filters-button">
          <span class="glyphicon glyphicon-chevron-down"></span>
          <span class="applied-filter-text"><%= t '.view_filters' %></span>
        </a>
        <%= link_to search_index_path(clear_sub_categories(params)), data: {'turbolinks-scroll' => false} do %>
          <span class="glyphicon glyphicon-remove"></span>
          <span class="applied-filter-text"><%= t '.clear_all' %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
