<div id="home-header-tabs">
  <div class="main-tabs-wrapper learn-main-tab-hide">
    <div class="flex tabs-list">

      <a class="tabs-item" href="<%= guides_path(category_id: @categories.default_for_surf) %>">
        <button type="button" class="btn btn-link tabs-link">
          <span ><%= t('.learn') %></span>
        </button>
      </a>

      <span class="item-separator"><%= image_tag('l-arrow.png') %></span>

      <a class="tabs-item" href="/sub_categories/<%= cookies[:selected_sub_category_id] %>">
        <button type="button" class="btn btn-link tabs-link">
          <span ><%= t('.compare') %></span>
        </button>
        <div class="dropdown-menu compare-block-wrapper">
          <%= render 'layouts/compare_products' %>
        </div>
      </a>

      <span class="item-separator"><%= image_tag('r-arrow.png') %></span>

      <a class="tabs-item <%= session[:locale] %>" href="<%= search_index_path %>">
        <button type="button" class="btn btn-link tabs-link active">
          <span ><%= t('.share') %></span>
        </button>
      </a>
    </div>
  </div>
</div>
<div class="flex main-filters-wrapper learn-main-filter-hide">
  <% @categories.each do |category| %>
  <%= render partial: 'search/category_filter', locals: {category: category} %>
  <% end %>
</div>
