<%= render partial: 'registrations/profile_top' %>
<%= render partial: 'registrations/nav_filters' %>
<% products = Product.all.limit(10) %>
<main class="main-content-wrapper sides-indents">
  <div id="user_favorites">
    <div class="flex thumbs-matrix-wrapper search-results-container">
      <% if products.count == 0 %>
          <div class="flash alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= t '.no_results' %>
          </div>
      <% else %>
          <% products.each do |product| %>
              <div class='thumb-wrapper thumb-product'>
                <div class='flex thumb-header'>
                  <span class='thumb-header-abbr'>
                    <%= link_to product do %>
                        <%= product.name %> <%= "(#{product.year})" if product.year %>
                        <% if false %>
                            <!-- commented -->
                            <%= "(#{product.company.name})" if product.company.name %>
                        <% end %>
                    <% end %>
                  </span>
                  <div class="thumb-menu-stripe">
                    <a href="javascript:;" class="toggle-product-menu"></a>
                    <div class="menu-group">
                      <span class="menu-item">
                        <%= link_to t('.remove'), product_user_favourite_products_path(product), method: :delete, remote: true, class: 'remove-favourite' %>
                      </span>
                    </div>
                  </div>
                </div>
                <%= link_to product, class: 'thumb-preview' do %>
                <div class='embed-responsive embed-responsive-16by9 thumb-bg' style="background-image: url('/assets/thumb-img-1.png');"></div>
                <% end %>
                <div class='flex thumb-footer'>
                  <span class='thumb-star-wrapper'>
                    <%= render 'products/rating', rating: product.rating, product_id: product.id %>
                  </span>
                  <div class='thumb-star-wrapper'>
                    <%= product.actual_price.amount if product.actual_price %>
                    <%= product.actual_price.currency.sign if product.actual_price %>
                  </div>
                </div>
                <div class='thumb-description text-left'>
                  <p>
                    <%= truncate strip_tags(product.description), length: 50, separator: ' ' %>
                  </p>
                </div>
                <div class='thumb-moreinfo-link'>
                  <%= link_to t('.more_info'), product %>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</main>
