<div class='box thumb-wrapper thumb-video'>
  <div class='flex thumb-header'>
    <span class='thumb-header-name'>
      <%= video.user.name %>
      <%= video.user.last_name %>
    </span>
    <div class="thumb-menu-stripe">
      <% if local_assigns[:for_profile].present? %>
        <a class="toggle-product-menu social-share thumb-more-button"></a>
        <div class="menu-group">
          <div class="menu-item">
            <a class="social-share toggle-social-share-menu"><%= t '.share' %></a>
          </div>
          <hr>
          <div class="menu-item">
            <%= modal_button_tag t('.edit'), edit_video_path(video), link: true, method: :get %>
          </div>
          <hr>
          <div class="menu-item">
            <%= link_to t('.delete'), video_path(video), method: :delete %>
          </div>
          <hr>
          <div class="menu-item">
            <a class="share-button-copylink js-copylink" data-copy-url="<%= video_url(video) %>"><%= t '.copy_url' %></a>
          </div>
        </div>

        <span class="social_share_group">
          <span class="share_items">
            <a class="share_item share-button-facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= video_url(video) %>"></a>
            <a class="share_item share-button-twitter"  href="https://twitter.com/intent/tweet?url=<%= video_url(video) %>"></a>
            <a class="share_item share-button-whatsapp" href="whatsapp://send?text=<%= video_url(video) %>"></a>
            <span class="share_item share-button-separator"></span>
            <a class="share_item share-button-copylink js-copylink" data-copy-url="<%= video_url(video) %>"></a>
          </span>
        </span>
      <% else %>
        <a href="#" class="toggle-social-share-menu thumb-more-button social-share"></a>
        <span class="social_share_group">
          <span class="share_items">
            <a class="share_item share-button-facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= video_url(video) %>"></a>
            <a class="share_item share-button-twitter"  href="https://twitter.com/intent/tweet?url=<%= video_url(video) %>"></a>
            <a class="share_item share-button-whatsapp" href="whatsapp://send?text=<%= video_url(video) %>"></a>
            <span class="share_item share-button-separator"></span>
            <a class="share_item share-button-copylink js-copylink" data-copy-url="<%= video_url(video) %>"></a>
          </span>
        </span>
      <% end %>
    </div>
  </div>
  <%= video_with_share(video) %>
  <div class='thumb-description thumb-brd-btm-4 text-left'>
    <p>
      <%= truncate strip_tags(video.comment), length: 250, separator: ' ' %>
    </p>
  </div>
  <div class='flex thumb-footer'>
    <% if video.product.present? %>
      <div class='thumb-footer-model'>
        <%= link_to video.product do %>
            <%= "#{video.product.company.name} – " if video.product.company %>
            <%= video.product.name %>
            <%= "(#{video.product.year})" if video.product.year %>
        <% end %>
      </div>
      <div class='thumb-star-wrapper'>
        <%= render 'products/rating', rating: video.product.rating, product_id: video.product.id %>
      </div>
    <% end %>
  </div>
</div>
