<div class="guide-tabs-wrapper">
  <div class="main-tabs-wrapper">
    <div class="flex tabs-list">

      <span class="tabs-item social-feed-button-wrapper hidden-xs">
        <%= link_to t('.share'), search_index_path, {id: 'social-feed-button', class: "btn btn-link tabs-link" } %>
      </span>

      <span class="dropdown dropdown-on-hover tabs-item visible-xs">
        <button type="button" class="btn btn-link tabs-link active dropdown-toggle" data-toggle="dropdown"><%= link_to t('.learn') %></button>
        <div class="dropdown-menu buying-guides-block-wrapper">
          <%= render 'layouts/buying_guides' %>
        </div>
      </span>

      <span class="item-separator"><%= image_tag('l-arrow.png') %></span>


      <span class="tabs-item social-feed-button-wrapper visible-xs">
        <%= link_to t('.share'), search_index_path, {id: 'social-feed-button', class: "btn btn-link tabs-link" } %>
      </span>

      <span class="tabs-link active dropdown dropdown-on-hover tabs-item hidden-xs">
          <%= link_to t('.learn'), guides_path(category_id: @categories.first.id)  %>
      </span>

      <span class="item-separator"><%= image_tag('r-arrow.png') %></span>

      <span class="dropdown dropdown-on-hover tabs-item compare-button-wrapper">
        <button type="button" class="btn btn-link tabs-link dropdown-toggle" data-toggle="dropdown">
          <span><%= t('.compare') %></span>
        </button>
        <div class="dropdown-menu compare-block-wrapper">
          <%= render 'layouts/compare_products' %>
        </div>
      </span>

    </div>
  </div>
</div>

<div class="flex main-filters-wrapper">
  <% @categories.each do |category| %>
      <div class="filter-wrapper category-item <%= "active" if category.searched_for?([params[:sub_category_id]]) %>">
        <%= link_to guides_path(category_id: category.id), class: 'category-link' do %>
          <label for="<%= "category-#{category.id}" %>" class="filter-name"><%= category.name %></label>
        <% end %>
      </div>
  <% end %>
</div>
