<div class="flex sort-by-panel hidden-xs">
  <%= t '.sort_by' %>
  <a href="#" data-field="price" data-desc="false"><%= t '.price' %><span class="glyphicon glyphicon-triangle-bottom"></span></a>
  <a href="#" data-field="year" data-desc="true"><%= t '.year' %><span class="glyphicon glyphicon-triangle-bottom"></span></a>
  <a href="#" data-field="rating" data-desc="true"><%= t '.popularity' %><span class="glyphicon glyphicon-triangle-bottom"></span></a>
  <a href="#" data-field="name" data-desc="false"><%= t '.a_z' %><span class="glyphicon glyphicon-triangle-bottom"></span></a>
</div>
