<div class="guide-tabs-wrapper">
  <div class="main-tabs-wrapper">
    <div class="flex tabs-list">

      <span class="dropdown dropdown-on-hover tabs-item">
        <div class="tabs-link active">
          <%= link_to t('.learn'), guides_path(category_id: @categories.first.id) %>
        </div>
      </span>

      <span class="item-separator"><%= image_tag('l-arrow.png') %></span>

      <span class="tabs-item social-feed-button-wrapper">
        <%= link_to t('.share'), search_index_path, {id: 'social-feed-button', class: "btn btn-link tabs-link" } %>
      </span>

      <span class="item-separator"><%= image_tag('r-arrow.png') %></span>

      <span class="dropdown dropdown-on-hover tabs-item compare-button-wrapper">
        <button type="button" class="btn btn-link tabs-link dropdown-toggle" data-toggle="dropdown">
          <span><%= t('.compare') %></span>
        </button>
        <div class="dropdown-menu compare-block-wrapper">
          <%= render 'layouts/compare_products' %>
        </div>
      </span>

    </div>
  </div>
</div>

<div class="flex main-filters-wrapper">
  <% @categories.each do |category| %>
      <div class="filter-wrapper category-item <%= "active" if category.id == params[:category_id].to_i %>">
        <%= link_to category.name, guides_path(category_id: category.id)  %>
      </div>
  <% end %>
</div>
