<section class="product-about-wrapper">
  <div class="product-about row col-md-10 center-block">
    <div class="product-about-photos-wrapper col-md-6">
      <div class="product-photos">
        <ul class="photos-container bxslider">
          <% product.pictures.each do |picture| %>
            <li class="product-photo">
              <%= link_to picture.image.url, class: 'js-zoom-photo' do %>
                <%= image_tag picture.url %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="bx-slider-pager">
        <% product.pictures.each_with_index do |picture, index| %>
          <a href="" data-slide-index="<%= index %>"></a>
        <% end %>
      </div>
    </div>
    <div class="product-info-wrapper col-md-6">
      <div class="product-info">
        <h1 class="product-name">
          <%= product.name %> <%= "(#{product.year})" if product.year %>
        </h1>
        <div class="product-review-bar">
          <%= render 'products/rating', rating: product.rating, product_id: product.id %>
          (<%= product.ratings.length %>)
        </div>
        <div class="product-about-text">
          <%= simple_format product.description %>
        </div>
        <div class="product-buttons">
          <span class="product-price"><%= product.price_string %></span>
          <button type='button' id='upload-menu' class='btn product-button product-post hidden-xs dropdown-toggle'
                  data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
            <%= t '.post_photo_video' %>
          </button>

          <ul class='dropdown-menu header-side-dropdown-button' aria-labelledby='upload-menu'>
            <li>
              <% if current_user.present? %>
                  <%= modal_button_tag t('.photo'), modals_path(action: :add_photo, product_id: product.id), link: true %>
              <% else %>
                  <%= modal_link t('.photo'), nil, t('.log_in_to_post_photo') %>
              <% end %>
            </li>
            <li role='separator' class='divider'></li>
            <li>
              <% if current_user.present? %>
                  <%= modal_button_tag t('.video'), modals_path(action: :add_video, product_id: product.id), link: true %>
              <% else %>
                  <%= modal_link t('.video'), nil, t('.log_in_to_post_video') %>
              <% end %>
            </li>
          </ul>

          <%= modal_button_tag t('.add_a_review'),
             new_product_review_path(product),
             method: :get,
             link: true,
             class: 'product-button visible-xs-inline-block' %>

          <% if product.users.include? current_user %>
            <%= link_to t('.added_remove'), product_user_favourite_products_path(@product),
              method: :delete,
              class: 'product-button product-add-favourites hidden-xs' %>
          <% else %>


            <% if current_user.present? %>
              <%= link_to t('.add_to_favorites'), product_user_favourite_products_path(@product),
                method: :post,
                class: 'product-button product-add-favourites hidden-xs' %>
            <% else %>
              <%= modal_link t('.add_to_favorites'), 'product-button product-add-favourites hidden-xs' %>
            <% end %>
          <% end %>
          <%= link_to product_user_favourite_products_path(@product), method: :post, class:
            'product-button visible-xs-inline-block product-add-favourites' do %>
            <%= content_tag :i, '', class: 'glyphicon glyphicon-star' %>
          <% end %>
          <% if @buy_url %>
            <%= link_to t('.buy'), @buy_url.url, class: 'product-button product-buy tracking-buy' %>

            <script>
              $('.tracking-buy').click(function() {
                send_track_buy();
              });
            </script>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
