<div class='thumb-wrapper'>
    <div class='thumb-image'>
      <%= image_tag product.picture_url(:thumbnail), alt: '' %>
    </div>
    <div class='thumb-description text-left'>
      <p>
        <strong class='thumb-header-abbr'>
          <%= product.name %> <%= "(#{product.year})" if product.year %>
        </strong>
      </p>
    </div>
    <div class='flex thumb-footer'>
      <span class='thumb-footer-price'>
        <%= product.price_string %>
      </span>
      <div class='thumb-star-wrapper'>
        <%= render 'products/rating', rating: product.rating, product_id: product.id %>
        (<%= product.reviews.length %>)
      </div>
    </div>
</div>
