<%= form_for @review, url: {action: "create"} do |f| %>
  <div class='form-group'>
    <%= f.text_field :title, class: 'form-control', placeholder: t('.title'), required: true %>
  </div>
  <%= render partial: 'reviews/review_rating_form' , locals:{form:f}%>
  <div class='form-group'>
    <%= f.text_area :review, class: 'form-control wysihtml5',
                             placeholder: t('.post_review'),
                             rows: 7,
                             required: true %>
  </div>
  <%= f.submit "", id:'submit-review', class:'btn btn-default', style:"display:none;"%>
<% end %>

<script>
  $('.wysihtml5').wysihtml5({
    'toolbar': {
      'blockquote': false,
      'html': false,
      'link': false,
      'image': false,
      'font-styles': false,
      'emphasis': {
        'small': false
      }
    }
  })
</script>
